<!-- Header Inner -->
<div class="header-inner">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <!-- Start Logo -->
                    <div class="logo">
                        <a href="/">
                            <img src="/img/logo.png" alt="My Book Publishers Logo" class="logo-responsive">
                            <style>
                                @media (min-width: 276px) {
                                    .logo-responsive {
                                        width: 180px;
                                    }
                                }
                                @media (min-width: 576px) {
                                    .logo-responsive {
                                        width: 220px;
                                    }
                                }
                                @media (min-width: 767px) {
                                    .logo-responsive {
                                        width: 280px;
                                    }
                                }
                                @media (min-width: 967px) {
                                    .logo-responsive {
                                        width: 100%;
                                    }
                                }
                            </style>
                        </a>
                    </div>
                    <!-- End Logo -->
                    <!-- Mobile Nav -->
                    <div class="mobile-nav"></div>
                    <!-- End Mobile Nav -->
                </div>

                <div class="col-lg-7 col-md-9 col-12">
                    <!-- Main Menu -->
                    <div class="main-menu">
                        <nav class="navigation">
                            <ul class="nav menu">
                                <li class="active"><a href="/">Home </a></li>
                                <li><a href="/#services">Services <i class="icofont-rounded-down"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="/e-learning">E-Learning</a></li>
                                        <li><a href="/training">Teachers Traning</a></li>
                                        <li><a href="/paper-generation">Paper Generation</a></li>
                                        <li><a href="/edu-games">Educational Games</a></li>
                                        <li><a href="career-counselling.html">Career Counselling</a></li>
                                    </ul>
                                </li>
                                <li><a href="/#products">Products</a></li>
                                <li><a href="/#about">About Us</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--/ End Main Menu -->
                </div>
                <div class="col-lg-2 col-12">
                    <div class="get-quote">
                        <a href="https://myonlineprep.org/login.html" class="btn">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Header Inner --> 