<!-- Preloader -->
<div class="preloader">
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>

        <div class="indicator"> 
            <svg width="24px" height="16px" viewBox="0 0 24 16" xmlns="http://www.w3.org/2000/svg">
                <!-- Front side of the book -->
                <path d="M2,1 L2,15 L10,15 L10,1 L2,1 Z" fill="white" />
                <path d="M12,1 L12,15 L22,15 L22,1 L12,1 Z" fill="white" />
                <!-- Book spine -->
                <line x1="10" y1="1" x2="10" y2="15" stroke="white" stroke-width="2" />
            </svg>
        </div>
    </div>
</div>
<!-- End Preloader -->