<!doctype html>
<html class="no-js" lang="zxx">
	<head>
		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Educational Books, e-Learning, Kids Learning, Educational Resources, Online Education">
		<meta name="description" content="Your Gateway to Educational Excellence. My Book Publishers offers smarter books for smarter minds, with digital learning resources and interactive content for kids and students.">
		<meta name="copyright" content="My Book Publishers">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
		<title>My Book Publishers - Your Gateway to Educational Excellence</title>
		
		<!-- Favicon -->
		<link rel="icon" href="img/favicon.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
		
		<!-- CSS Libraries (via CDN) -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
		
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="css/nice-select.css">
		<!-- icofont CSS -->
		<link rel="stylesheet" href="css/icofont.css">
		<!-- Slicknav -->
		<link rel="stylesheet" href="css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="css/owl-carousel.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="css/datepicker.css">
		<!-- Magnific Popup CSS -->
		<link rel="stylesheet" href="css/magnific-popup.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="css/career-counselling.css">

	</head>
	
    <body>
	
<!-- Preloader -->
<div class="preloader">
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>

        <div class="indicator"> 
            <svg width="24px" height="16px" viewBox="0 0 24 16" xmlns="http://www.w3.org/2000/svg">
                <!-- Front side of the book -->
                <path d="M2,1 L2,15 L10,15 L10,1 L2,1 Z" fill="white" />
                <path d="M12,1 L12,15 L22,15 L22,1 L12,1 Z" fill="white" />
                <!-- Book spine -->
                <line x1="10" y1="1" x2="10" y2="15" stroke="white" stroke-width="2" />
            </svg>
        </div>
    </div>
</div>
        <!-- End Preloader -->
		
            <!-- Chat Popup HTML -->
    <div id="chat-popup" class="chat-pop-up hidden">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
                <div class="col-md-8 col-xl-6 chat">
                    <div class="card">
                        <div class="card-header msg_head">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="img/Logo.png" class="rounded-circle user_img">
                                </div>
                                <div class="user_info">
                                    <span>Chat with AI Teacher</span>
                                    <p>My Online Prep</p>
                                </div>
                                <div class="ml-auto">
                                  <span class="close-chat-btn">&times;</span> <!-- Close button -->
                              </div>
                            </div>
                        </div>
                        <div class="card-body msg_card_body" id="chatbox">
                            <!-- Chat messages will be dynamically added here -->
                        </div>
                        <div class="card-footer">
                            <div class="input-group">
                                <textarea id="user-input" class="form-control type_msg" placeholder="Type your message..."></textarea>
                                <div class="input-group-append">
                                    <span class="input-group-text send_btn" id="send-btn"><i class="fas fa-location-arrow"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
<!-- Header Area -->
<header class="header">
     
    <!-- Header Inner -->
    <header class="header" >
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <!-- Start Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="img/logo.png" alt="My Book Publishers Logo"></a>
                            </div>
                            <!-- End Logo -->
                            <!-- Mobile Nav -->
                            <div class="mobile-nav"></div>
                            <!-- End Mobile Nav -->
                        </div>
    
                        <div class="col-lg-7 col-md-9 col-12">
                            <!-- Main Menu -->
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">
                                        <li class="active"><a href="#">Home </a></li>
                                        <li><a href="index.html#services">Services <i class="icofont-rounded-down"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="e-learning.html">E-Learning</a></li>
                                                <li><a href="training.html">Teachers Traning</a></li>
                                                <li><a href="paper-generation.html">Paper Generation</a></li>
                                                <li><a href="edu-games.html">Educational Games</a></li>
                                                <li><a href="career-counselling.html">Career Counselling</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="index.html#products">Products</a></li>
                                        <li><a href="index.html#about">About Us</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!--/ End Main Menu -->
                        </div>
                        <div class="col-lg-2 col-12">
                            <div class="get-quote">
                                <a href="index.html#discover" class="btn">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!--/ End Header Inner -->
</header>
<!-- End Header Area -->

<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>Career-Counselling</h2>
                    <ul class="bread-list">
                        <li><a href="index.html">Home</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">Career-Counselling</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Career-Counselling Section -->
<section class="career-counselling section">
    <div class="container">
        <button class="btn btn-primary" id="start">Career Counselling</button>
    </div>
</section>
<!-- End E-Learning Section -->

<!-- Footer Area -->
<footer id="footer" class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>About Us</h2>
                        <p>Your partner in enhancing education with innovative learning materials and digital tools for schools and families.</p>
                        <!-- Social -->
                        <ul class="social">
                            <li><a href="https://www.facebook.com/MyBookPublishers/" target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/mybookpublishers/" target="_blank"><i class="icofont-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/@MyBookPublishers" target="_blank"><i class="icofont-youtube"></i></a></li>
                            <li><a href="https://www.pinterest.com/mybookpublishersorg/" target="_blank"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>Quick Links</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="/"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
                                    <li><a href="index.html#about"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
                                    <li><a href="index.html#services"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
                                    <li><a href="contact.html"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
                                </ul>
                            </div>
                            <!-- <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consulting</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Blog</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Testimonials</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div style="color: white;" class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Contact Us</h2>
                        <p>If you have any questions or need assistance, feel free to reach out!</p>
                        <br>
                        <ul>
                            <li><i class="icofont-ui-call"></i> +92 304 7887822</li>
                            <li><i class="icofont-ui-message"></i> info@mybookpublishers.org</li>
                            <li><i class="icofont-location-pin"></i> Shalimar Colony, Bosan Road Multan</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

		
		<!-- jquery Min JS -->
        <script src="js/jquery.min.js"></script>
		<!-- jquery Migrate JS -->
		<script src="js/jquery-migrate-3.0.0.js"></script>
		<!-- jquery Ui JS -->
		<script src="js/jquery-ui.min.js"></script>
		<!-- Easing JS -->
        <script src="js/easing.js"></script>
		<!-- Color JS -->
		<script src="js/colors.js"></script>
		<!-- Popper JS -->
		<script src="js/popper.min.js"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="js/bootstrap-datepicker.js"></script>
		<!-- Jquery Nav JS -->
        <script src="js/jquery.nav.js"></script>
		<!-- Slicknav JS -->
		<script src="js/slicknav.min.js"></script>
		<!-- ScrollUp JS -->
        <script src="js/jquery.scrollUp.min.js"></script>
		<!-- Niceselect JS -->
		<script src="js/niceselect.js"></script>
		<!-- Tilt Jquery JS -->
		<script src="js/tilt.jquery.min.js"></script>
		<!-- Owl Carousel JS -->
        <script src="js/owl-carousel.js"></script>
		<!-- counterup JS -->
		<script src="js/jquery.counterup.min.js"></script>
		<!-- Steller JS -->
		<script src="js/steller.js"></script>
		<!-- Wow JS -->
		<script src="js/wow.min.js"></script>
		<!-- Magnific Popup JS -->
		<script src="js/jquery.magnific-popup.min.js"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
        <!-- Marked JS -->
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
		<!-- Main JS -->
		<script src="js/main.js"></script>

        <script>
            $('#start').on("click", function () {
                const questionDetails = `
                    Question: Whats TCP stands for?\n
                    Options:\n
                    a) Tower Casing Protocol \n
                    b) Transmission Control Protocol \n
                    c) Both a and b \n
                    d) None of these \n
                    Correct Answer: b) Transmission Control Protocol\n
                    Explanation: TCP stands for Transmission Control Protocol 
                `;
                askAI(questionDetails);
            });
        
            let firstCall = true; // Flag to track the first call
            let conversationHistory = []; // Declare conversationHistory globally
        
            function scrollToBottom() {
                const chatbox = document.getElementById('chatbox');
                chatbox.scrollTop = chatbox.scrollHeight;
            }
        
            // Function to show the chat pop-up and send a question to the AI API
            function askAI(questionDetails) {
                // Reset conversation history and other variables
                conversationHistory = [
                    {
                        role: "user",
                        parts: [
                            {
                                text: ` I have a question:
                                  ${questionDetails}`
                            }
                        ]
                    }
                ];
        
                // Remove the 'hidden' class to show the chat pop-up
                $('#chat-popup').removeClass('hidden');
        
                // Function to handle user input
                function inputAI(input) {
                    const userMessageElement = `
                        <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">${input}</div>
                            <div class="img_cont">
                                <img src="img/Profile.png" class="user_img">
                            </div>
                        </div>`;
                    $chatbox.append(userMessageElement);
                    scrollToBottom();
        
                    // Add the user message to conversation history
                    conversationHistory.push({
                        role: 'user',
                        parts: [{ text: input }]
                    });
        
                    // Display a loading message while waiting for the AI response
                    const loadingMessageElement = `
                        <div class="d-flex justify-content-start mb-4">
                            <div class="img_cont">
                                <img src="img/Logo.png" class="user_img">
                            </div>
                            <div class="msg_cotainer">Bot is typing...</div>
                        </div>`;
                    $chatbox.append(loadingMessageElement);
                    scrollToBottom();
        
                    // Send the question to the AI chat API
                    fetch('/chat', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ message: input, history: conversationHistory })
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Remove the loading message
                        $chatbox.find('.msg_cotainer:contains("Bot is typing...")').parent().remove();
        
                        const botMessage = data.botMessage || 'Error, please try again later';
        
                        // Add bot response to conversation history
                        conversationHistory.push({
                            role: 'model',
                            parts: [{ text: botMessage }]
                        });
        
                        // Display the bot's response in the chatbox
                        const botMessageElement = `
                            <div class="d-flex justify-content-start mb-4">
                                <div class="img_cont">
                                    <img src="img/Logo.png" class="user_img">
                                </div>
                                <div class="msg_cotainer">${botMessage}</div>
                            </div>`;
                        $chatbox.append(botMessageElement);
                        scrollToBottom();
                    })
                    .catch(error => {
                        console.error('Error:', error);
        
                        // Remove the loading message
                        $chatbox.find('.msg_cotainer:contains("Bot is typing...")').parent().remove();
        
                        // Display error message in chatbox
                        const errorMessageElement = `
                            <div class="d-flex justify-content-start mb-4">
                                <div class="img_cont">
                                    <img src="img/Profile.png" class="user_img">
                                </div>
                                <div class="msg_cotainer">Error, please try again later</div>
                            </div>`;
                        $chatbox.append(errorMessageElement);
                        scrollToBottom();
                    });
                }
        
                // Display the question in the chatbox as the user's input
                const $chatbox = $('#chatbox');
        
                // Automatically send "." if it's the first time
                if (firstCall) {
                    inputAI('Explain this!'); // Trigger the first input automatically
                    firstCall = false; // Set flag to false after first call
                }
        
                // Set up event listener for manual user input
                $('#user-input').on('keypress', function(e) {
                    if (e.which === 13 && !e.shiftKey) {
                        const userInput = $(this).val();
                        if (userInput.trim()) {
                            inputAI(userInput);
                            $('#user-input').val(''); // Clear the input field
                            e.preventDefault(); // Prevents line breaks on Enter
                        }
                    }
                });
        
                $('#send-btn').on('click', function() {
                    const userInput = $('#user-input').val();
                    if (userInput.trim()) {
                        $('#user-input').val(''); // Clear the input field
                        inputAI(userInput);
                    }
                });
        
                // Event listener for the close button
                $('.close-chat-btn').on('click', function() {
                    $('#chat-popup').addClass('hidden'); // Hide the chat pop-up
                    // Reset the conversation history and firstCall flag when the chat is closed
                    firstCall = true;
                    conversationHistory = [];
                    $('#chatbox').html(''); // Clear the chatbox UI when the chat is closed
                });
            }
        </script>
        
    </body>
</html>